<header class="header">
    <img src="{{ asset('assets/images/logo-tatiana.png') }}" alt="Tatiana Fuhrer - Développeuse Web" class="logo-image">
    
    <div id="menu-toggle" class="menu-icon">
        <i id="menu-icon" class="fa-solid fa-bars"></i>
    </div>

    <nav id="nav-menu" class="nav">
        <a href="{{ path('home') }}#about">À propos</a>
        <a href="{{ path('home') }}#compétences">Compétences</a>
        <a href="{{ path('home') }}#portfolio">Portfolio</a>
        <a href="{{ path('home') }}#contact">Contact</a>
        <a href="{{ path('app_login') }}" class="login-icon">
            <img src="{{ asset('assets/icons/user.svg') }}" alt="Connexion" />
        </a>
    </nav>
</header>