<section class="skills-bouncing">
  <h2 class="skills-title">Compétences</h2>
  <div class="skills-logos">
    <img src="{{ asset('assets/icons/html.svg') }}" alt="HTML5" class="logo-floating">
    <img src="{{ asset('assets/icons/css.svg') }}" alt="CSS3" class="logo-floating">
    <img src="{{ asset('assets/icons/javascript.svg') }}" alt="JavaScript" class="logo-floating">
    <img src="{{ asset('assets/icons/react.svg') }}" alt="React" class="logo-floating">
    <img src="{{ asset('assets/icons/sass.svg') }}" alt="Sass" class="logo-floating">
    <img src="{{ asset('assets/icons/npm.svg') }}" alt="npm" class="logo-floating">
    <img src="{{ asset('assets/icons/php.svg') }}" alt="PHP" class="logo-floating">
    <img src="{{ asset('assets/icons/figma.svg') }}" alt="Figma" class="logo-floating">*
    <img src="{{ asset('assets/icons/vercel.svg') }}" alt="Vercel" class="logo-floating">
    <img src="{{ asset('assets/icons/redux.svg') }}" alt="Redux" class="logo-floating">
    <img src="{{ asset('assets/icons/symfony.svg') }}" alt="Symfony" class="logo-floating">
  </div>
</section>
