<!-- HTML: section compétences avec effets dynamiques -->
<section id="compétences" class="skills-bouncing">
    <div class="skills-header">
        <h2 class="skills-title">Compétences</h2>
    </div>
    <div class="skills-logos">
        <div class="logo-container">
            <img class="logo-floating" src="{{ asset('assets/images/html.svg') }}" alt="HTML5" data-description="HTML5 - Langage de balisage pour structurer le contenu web"/>
        </div>
        <div class="logo-container">
            <img class="logo-floating" src="{{ asset('assets/images/css.svg') }}" alt="CSS3" data-description="CSS3 - Langage de style pour la mise en page et le design web"/>
        </div>
        <div class="logo-container">
            <img class="logo-floating" src="{{ asset('assets/images/javascript.svg') }}" alt="JavaScript" data-description="JavaScript - Langage de programmation pour l'interactivité web"/>
        </div>
        <div class="logo-container">
            <img class="logo-floating" src="{{ asset('assets/images/react.svg') }}" alt="React" data-description="React - Bibliothèque JavaScript pour construire des interfaces utilisateur"/>
        </div>
        <div class="logo-container">
            <img class="logo-floating" src="{{ asset('assets/images/sass.svg') }}" alt="Sass" data-description="Sass - Préprocesseur CSS qui ajoute des fonctionnalités avancées"/>
        </div>
        <div class="logo-container">
            <img class="logo-floating" src="{{ asset('assets/images/npm.svg') }}" alt="npm" data-description="npm - Gestionnaire de paquets pour JavaScript"/>
        </div>
        <div class="logo-container">
            <img class="logo-floating" src="{{ asset('assets/images/php.svg') }}" alt="PHP" data-description="PHP - Langage de programmation pour le développement web côté serveur"/>
        </div>
        <div class="logo-container">
            <img class="logo-floating" src="{{ asset('assets/images/figma.svg') }}" alt="Figma" data-description="Figma - Outil de conception d'interface utilisateur en ligne"/>
        </div>
        <div class="logo-container">
            <img class="logo-floating" src="{{ asset('assets/images/vercel.svg') }}" alt="Vercel" data-description="Vercel - Plateforme de déploiement et d'hébergement pour applications web"/>
        </div>
        <div class="logo-container">
            <img class="logo-floating" src="{{ asset('assets/images/redux.svg') }}" alt="Redux" data-description="Redux - Bibliothèque de gestion d'état pour applications JavaScript"/>
        </div>
        <div class="logo-container">
            <img class="logo-floating" src="{{ asset('assets/images/symfony.svg') }}" alt="Symfony" data-description="Symfony - Framework PHP pour développer des applications web"/>
        </div>
        <div class="logo-container">
            <img class="logo-floating" src="{{ asset('assets/images/seo.svg') }}" alt="SEO" data-description="SEO - Optimisation pour les moteurs de recherche"/>
        </div>
        <div class="logo-container">
            <img class="logo-floating" src="{{ asset('assets/images/scrum.svg') }}" alt="Scrum" data-description="Scrum - Méthode agile de gestion de projet"/>
        </div>
        <div class="logo-container">
            <img class="logo-floating" src="{{ asset('assets/images/kanban.svg') }}" alt="Kanban" data-description="Kanban - Système de gestion de flux pour visualiser le travail"/>
        </div>
        <div class="logo-container">
            <img class="logo-floating" src="{{ asset('assets/images/github.svg') }}" alt="GitHub" data-description="GitHub - Plateforme de développement collaboratif et de gestion de versions"/>
        </div>
        <div class="logo-container">
            <img class="logo-floating" src="{{ asset('assets/images/debug.svg') }}" alt="Debug" data-description="Debug - Techniques d'identification et résolution de problèmes dans le code"/>
        </div>
    </div>
    <div class="skill-description-container">
        <div id="description-prompt" class="description-prompt">
            <span class="pulse-circle"></span>
            <span class="prompt-text">Cliquez sur un logo pour découvrir la compétence</span>
        </div>
        <div id="description-box" class="skill-description">
            <div class="description-content"></div>
        </div>
    </div>
</section>