<section id="compétences" class="skills-bouncing">
    <div class="skills-header">
        <h2 class="skills-title">Compétences</h2>
    </div>
    <div class="skills-logos">
        <img class="logo-floating" src="{{ asset('assets/icons/html.svg') }}" alt="HTML5"/>
        <img class="logo-floating" src="{{ asset('assets/icons/css.svg') }}" alt="CSS3"/>
        <img class="logo-floating" src="{{ asset('assets/icons/javascript.svg') }}" alt="JavaScript"/>
        <img class="logo-floating" src="{{ asset('assets/icons/react.svg') }}" alt="React"/>
        <img class="logo-floating" src="{{ asset('assets/icons/sass.svg') }}" alt="Sass"/>
        <img class="logo-floating" src="{{ asset('assets/icons/npm.svg') }}" alt="npm"/>
        <img class="logo-floating" src="{{ asset('assets/icons/php.svg') }}" alt="PHP"/>
        <img class="logo-floating" src="{{ asset('assets/icons/figma.svg') }}" alt="Figma"/>
        <img class="logo-floating" src="{{ asset('assets/icons/vercel.svg') }}" alt="Vercel"/>
        <img class="logo-floating" src="{{ asset('assets/icons/redux.svg') }}" alt="Redux"/>
        <img class="logo-floating" src="{{ asset('assets/icons/symfony.svg') }}" alt="Symfony"/>
        <img class="logo-floating" src="{{ asset('assets/icons/seo.svg') }}" alt="SEO"/>
        <img class="logo-floating" src="{{ asset('assets/icons/scrum.svg') }}" alt="Scrum"/>
        <img class="logo-floating" src="{{ asset('assets/icons/kanban.svg') }}" alt="Kanban"/>
        <img class="logo-floating" src="{{ asset('assets/icons/github.svg') }}" alt="GitHub"/>
        <img class="logo-floating" src="{{ asset('assets/icons/debug.svg') }}" alt="Debug"/>
    </div>
</section>