<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Portfolio professionnel réalisé avec Symfony" />
    
    <link rel="icon" href="{{ asset('assets/logo-static-black.png') }}" />
    <link rel="apple-touch-icon" href="{{ asset('assets/logo-static-black.png') }}" />
    <link rel="manifest" href="{{ asset('manifest.json') }}" />
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
    
    <title>Tatiana FUHRER - Développeuse Web</title>

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
    {% include 'partials/header.html.twig' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'partials/footer.html.twig' %}
</body>
</html>